In [1]:
import pandas as pd 

f_df = pd.read_csv('./datasets/fruit_classification_dataset.csv')
f_df

,size (cm),shape,weight (g),avg_price (₹),color,taste,fruit_name
0,25.4,round,3089.2,137.1,green,sweet,watermelon
1,24.6,round,3283.9,163.8,green,sweet,watermelon
2,7.8,round,319.0,91.3,green,sweet,custard apple
3,20.0,oval,1607.0,85.7,orange,sweet,papaya
4,10.2,long,131.5,37.8,yellow,sweet,banana
...,...,...,...,...,...,...,...
9995,3.7,round,49.7,72.7,purple,tangy,plum
9996,2.8,oval,18.1,65.5,red,sweet,strawberry
9997,8.7,oval,177.7,72.2,green,sweet,pear
9998,18.0,round,1165.0,107.0,brown,sweet,coconut
9999,7.2,round,252.1,111.3,red,sweet,pomegranate

In [2]:
f_df.isna().sum()

size (cm)        0
shape            0
weight (g)       0
avg_price (₹)    0
color            0
taste            0
fruit_name       0
dtype: int64

In [4]:
f_df.columns = ['size', 'shape', 'weight', 'avg_price', 'color', 'taste', 'fruit_name']
f_df

      size  shape  weight  avg_price   color  taste     fruit_name
0     25.4  round  3089.2      137.1   green  sweet     watermelon
1     24.6  round  3283.9      163.8   green  sweet     watermelon
2      7.8  round   319.0       91.3   green  sweet  custard apple
3     20.0   oval  1607.0       85.7  orange  sweet         papaya
4     10.2   long   131.5       37.8  yellow  sweet         banana
...    ...    ...     ...        ...     ...    ...            ...
9995   3.7  round    49.7       72.7  purple  tangy           plum
9996   2.8   oval    18.1       65.5     red  sweet     strawberry
9997   8.7   oval   177.7       72.2   green  sweet           pear
9998  18.0  round  1165.0      107.0   brown  sweet        coconut
9999   7.2  round   252.1      111.3     red  sweet    pomegranate

[10000 rows x 7 columns]

In [5]:
f_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size        10000 non-null  float64
 1   shape       10000 non-null  object
 2   weight      10000 non-null  float64
 3   avg_price   10000 non-null  float64
 4   color       10000 non-null  object
 5   taste       10000 non-null  object
 6   fruit_name  10000 non-null  object
dtypes: float64(3), object(4)
memory usage: 547.0+ KB

In [6]:
f_df.describe().sum()

size         10064.227515
weight       15071.275807
avg_price    10511.638636
dtype: float64

In [7]:
f_df.describe().T

             count       mean         std  min     25%    50%      75%     max
size       10000.0    8.43060    6.396915  0.9   3.700    7.2   10.100    27.5
weight     10000.0  455.45772  731.643087  4.5  45.800  168.8  365.275  3299.8
avg_price  10000.0   77.01672   38.946916  9.0  45.575   75.4  100.700   165.0

In [8]:
f_df.weight.values

array([3089.2, 3283.9,  319. , ...,  177.7, 1165. ,  252.1],
      shape=(10000,))

In [19]:
weight_df = f_df.loc[:, 'weight'].reset_index()
weight_df

      index  weight
0         0  3089.2
1         1  3283.9
2         2   319.0
3         3  1607.0
4         4   131.5
...     ...     ...
9995   9995    49.7
9996   9996    18.1
9997   9997   177.7
9998   9998  1165.0
9999   9999   252.1

[10000 rows x 2 columns]

In [20]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
std_weight = std.fit_transform(weight_df[['weight']])
std_weight

array([[ 3.59994378],
       [ 3.86607044],
       [-0.18651792],
       ...,
       [-0.37965453],
       [ 0.96984141],
       [-0.27796051]], shape=(10000, 1))

In [21]:
weight_df.weight = std_weight
weight_df

      index    weight
0         0  3.599944
1         1  3.866070
2         2 -0.186518
3         3  1.573991
4         4 -0.442803
...     ...       ...
9995   9995 -0.554612
9996   9996 -0.597805
9997   9997 -0.379655
9998   9998  0.969841
9999   9999 -0.277961

[10000 rows x 2 columns]

In [22]:
condition1 = weight_df.weight >= -1.96
condition2 = weight_df.weight <= 1.96
condition = condition1 & condition2

f_df = f_df.iloc[weight_df[condition].index]
f_df

      size  shape  weight  avg_price   color  taste     fruit_name
2      7.8  round   319.0       91.3   green  sweet  custard apple
3     20.0   oval  1607.0       85.7  orange  sweet         papaya
4     10.2   long   131.5       37.8  yellow  sweet         banana
5     19.4   oval  1404.1       86.0  orange  sweet         papaya
6      6.3  round   262.3      125.0     red  sweet    pomegranate
...    ...    ...     ...        ...     ...    ...            ...
9995   3.7  round    49.7       72.7  purple  tangy           plum
9996   2.8   oval    18.1       65.5     red  sweet     strawberry
9997   8.7   oval   177.7       72.2   green  sweet           pear
9998  18.0  round  1165.0      107.0   brown  sweet        coconut
9999   7.2  round   252.1      111.3     red  sweet    pomegranate

[9502 rows x 7 columns]

In [23]:
f_enc_df = f_df.reset_index()
f_enc_df

      index  size  shape  weight  avg_price   color  taste     fruit_name
0         2   7.8  round   319.0       91.3   green  sweet  custard apple
1         3  20.0   oval  1607.0       85.7  orange  sweet         papaya
2         4  10.2   long   131.5       37.8  yellow  sweet         banana
3         5  19.4   oval  1404.1       86.0  orange  sweet         papaya
4         6   6.3  round   262.3      125.0     red  sweet    pomegranate
...     ...   ...    ...     ...        ...     ...    ...            ...
9497   9995   3.7  round    49.7       72.7  purple  tangy           plum
9498   9996   2.8   oval    18.1       65.5     red  sweet     strawberry
9499   9997   8.7   oval   177.7       72.2   green  sweet           pear
9500   9998  18.0  round  1165.0      107.0   brown  sweet        coconut
9501   9999   7.2  round   252.1      111.3     red  sweet    pomegranate

[9502 rows x 8 columns]

In [31]:
f_df.taste.value_counts()

taste
sweet    7006
tangy    2015
sour      481
Name: count, dtype: int64

In [32]:
f_df.color.value_counts()

color
red       1943
brown     1541
green     1531
yellow    1002
pink       998
orange     996
purple     988
blue       503
Name: count, dtype: int64

In [38]:
f_df.fruit_name.value_counts()

fruit_name
pomegranate      534
pear             534
pineapple        533
custard apple    516
papaya           509
kiwi             506
blueberry        503
lychee           502
coconut          502
banana           502
mango            500
grape            499
dragon fruit     496
apple            492
plum             489
orange           487
guava            481
cherry           479
strawberry       438
Name: count, dtype: int64

In [45]:
f_df['shape'].value_counts()

shape
round    4518
oval     4482
long      502
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

shape_encoder = OneHotEncoder(sparse_output=False)
shape_onehot = shape_encoder.fit_transform(f_enc_df[['shape']])
shape_cols = shape_encoder.get_feature_names_out(['shape'])
shape_onehot_df = pd.DataFrame(shape_onehot, columns=shape_cols)
f_enc_df = pd.concat([f_enc_df.iloc[:, :-1], shape_onehot_df], axis=1])
f_enc_df['shape']